.main-container, .box, .form-container, .form, .form-group, .form-message, .form-div-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.main-container {
    width: 100%;
    height: 95vh;
    background-color: rgba(55, 56, 103, 0.4);
}
.box {
    width: 80%;
    padding: 4%;
    margin: 2%;
    border-radius: 5%;
    background-color: #ffffff;
}
.form-logo {
    justify-self: flex-start; 
    width: 18%;
    margin-bottom: 3%;    
}
.form-group, .form-div-input {
    width: 100%;
    align-items: flex-start;
    text-align: left;
}
.form-botton {
    display: flex;
    align-items: center;
    align-self: center;
    height: 35px;
    background-color: #aace98;
    border: 1px solid #373867;
    border-radius: 8%;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.form-container {
    border-radius: 5%;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.form-group label {
    margin: 7px;
}
.form-input {
    margin: 7px;
}
.form-input:focus {
    border: 3px solid #373867;
    outline: none;
}
.form-input-error {
    display: none;
}
.form-input-error-active{
    display: flex;
    color: #bb2929;
    font-size: 12px;
}
.form-message {
    background-color: rgba(170, 206, 152, 0.6);
    display: none;
}
.form-message-active {
    display: flex;
    color: #bb2929;
    font-size: 12px;
}
.form-exit-message {
    display: none;
}
.form-exit-message-active {
    display: block;
}
#remember-me-div {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
#remember-me {
    width: auto;
}
#remember-text{
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    margin: 6px 0 25px;
    padding-left: 4%;
}
/* Validation styles */
.form-group-ok {
    color: #006400;
}
.form-group-wrong .form-label {
    color: #bb2929;
}
.form-group-wrong {
    color: #bb2929;
}
.form-group-wrong .form-input {
    border: 2px solid #bb2929;
}
.form-group-ok .form-input {
    border: 2px solid #006400;
}
.exit-message {
    background-color: rgba(170, 206, 152, 0.6);
    display: block;
    align-self: center;
    margin: 5%; 
}
.inactive {
    visibility: hidden;
}
@media only screen and (min-width: 768px) {
    main {
        margin-left: 260px;
    }
}