<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <!--style sheets-->
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header-style.css">
        <link rel="stylesheet" href="../styles/footer-style.css">
        <link rel="stylesheet" href="../styles/sidebar-style.css">
        <link rel="stylesheet" href="../styles/landing.css">
        <link rel="stylesheet" href="../styles/login.css">
        <!--end of style sheets-->
        <!--favicon-->
        <link rel="icon" href="../assets/favicon.ico">
        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <!--end of fonts-->
        <!--fontAwesome-->
        <script src="https://kit.fontawesome.com/80318b8220.js" crossorigin="anonymous"></script>
        <!--JavaScript-->
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header>
            <img class="header-menu" src="../assets/icons/menu.png" alt="Menu">
            <img class="header-logo" src="../assets/icons/logo.png" alt="Logo">
            <a href="./employee-signup.html">
                <input class="btn-sign-up" type=button value="Sign up">
            </a>
        </header>
        <aside>         
            <nav>
                <div class="shortcuts">shortcuts</div>
                <ul>
                    <li>
                        <a href="index.html">homepage</a>
                    </li>
                    <li>
                        <a href=#what-track>what is trackgenix?</a>
                    </li>
                    <li>
                        <a href=#why-track>why choose trackgenix?</a>
                    </li>
                    <li>
                        <a href=#about-track>about us</a>
                    </li>
                    <li>
                        <a href=#contact-track>get in touch</a>
                    </li>
                    <li>
                        <a href="./login.html">log in</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <div class="main-container">
                <div class="box">
                    <div class="form-container">
                        <img class="form-logo" src="../assets/icons/logo.png" alt="Trackgenix Logo">
                        <h2>log in</h2>
                        <form id="form" class="form">
                            <!-- Email -->
                            <div id="mail-div" class="form-group">
                                <label class="form-label" for="mail">E-mail:</label>
                                <div class="form-div-input">
                                    <input id="mail" class="form-input" type="email" name="mail" placeholder="E-mail">
                                </div>
                                <p class="form-input-error">
                                    Enter a valid e-mail address (example, someone@example.com)
                                </p>
                            </div>
                            <!-- Password -->
                            <div id="password-div" class="form-group">
                                <label class="form-label" for="password">Password:</label>
                                <div class="form-div-input">
                                    <input id="password" class="form-input" type="password" name="password" placeholder="Password">
                                </div>
                                <p class="form-input-error">
                                    Password must contain letters and digits.
                                </p>
                            </div>
                            <!-- Remember me -->
                            <div id="remember-me-div" class="form-group">
                                <input id="remember-me" class="form-checkbox" type="checkbox" name="remember-me">
                                <label id="remember-text" class="form-input" for="remember-me" >Remember me</label>
                            </div>
                            <!-- Form message error -->
                            <div id="form-message" class="form-message inactive">
                                <p>
                                    <i class="fa-solid fa-circle-exclamation"></i>
                                    Error: an entry is required or has an invalid value.
                                    Please correct and try again.
                                </p>
                            </div>
                            <div id="exit-message" class="exit-message"></div>
                            <!-- Log in-->
                            <div class="form-group form-div-log-in-btn">
                                <button class="form-botton" id="login-btn" type="submit">Log in</button>
                                <p id="form-exit-message" class="form-exit-message">
                                    alert with form information
                                </p>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </main>
        <footer>
            <ul>
                <li>
                    <a href="https://ar.linkedin.com/" target="_blank"><img src="../assets/icons/linkedin.svg" alt="Linkedin"></a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank"><img src="../assets/icons/twitter.svg" alt="Twitter"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><img src="../assets/icons/facebook.svg" alt="Facebook"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../assets/icons/instagram.svg" alt="Instagram"></a>
                </li>
                <li>
                    <a href="https://github.com/" target="_blank"><img src="../assets/icons/githab.svg" alt="Github"></a>
                </li>
            </ul>
            <address>Rosario, Argentina</address>
            <p>Copyright &copy; 2022 Trackgenix S.A. All rights reserved</p>
        </footer>  
    </body>
</html>