* {
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    text-align: center;
    color: #373867;
}
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 9.5%;
    min-height: 71px;
    top: 0; 
    background-color: #373867;
}
aside{
    position: fixed;
    width: 252px;
    height: auto;
    left: 0;
    top: 9.5%;
    bottom: 10%;
    background-color: #aace98;
}
aside a{
    display: block;
    width: 225px;
    margin: 25px 2px;
    padding: 7px 4px;
    background-color: #ffffff;
    box-shadow: 0px 3px 0px #373867;
    color: #373867;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}
aside ul{
    width: 240px;
    bottom: 50%;
    padding: 6px;
    text-align: left;
}
main{
    margin-right: 0;
    margin-left: 252px;
}
main a{
    color: #373867;
    text-decoration: none;
    text-transform: capitalize;
}
h1{
    margin-top: 5%;
    padding: 20px;
    font-size: 40px;
    font-weight: 800 bold; 
    color: #ffffff;
    text-transform: uppercase;
}
h2{
    margin: auto;
    font-size: 40px;
    font-weight: 700 bold;
    line-height: 46.88px;
    margin: 10px 30px;
    }
h3{
    width: 33%;
    margin: auto;
    font-size: 26px;
    text-align: left;
    font-weight: 700 bold;
    line-height: 31px;
}
footer{
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 2px;
    bottom: 0;
    background-color: #373867;
    list-style-type: none;
    font-size: 14px;
    font-weight: 700 bold;
    line-height: 15px;
    color: #aace98;
}
footer ul li{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-top: 5px;    
}
.header-logo{
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: auto;
}
.btn-sign-up{
    display: block;
    width: 65px;
    height: 35px;
    border-radius: 5px;
    margin-top: -49px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 93%;
    border: 2px solid #373867;
    background-color: #aace98;
    color: #373867;
}
.shortcuts{
    padding: 40px 15px 0px 10px;
    color: #373867;
    font-size: 30px;
    font-weight: 700 bold;
    text-align: left;
    text-decoration: underline;
}
.home-pg-logo{
    display: inline-block;
    margin-bottom: 5%;
    width: 400px;
    height: 400px;
    vertical-align: middle;
}
main section{
    display: inline-block;
    width: 100%;
    height: 25%;
    margin: auto;
    padding-top: 60px;
    vertical-align: middle;
    align-items: center;
}
.homepg{
    padding-top: 90px;
    padding-bottom: 78px;
    background-image: url(../assets/homepage-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.wh-is-trackgenix{
    padding-top: 110px;
}
.wh-is-trackgenix article{
    display: inline-block;
    margin: auto;
    width: 600px;
    vertical-align: top;
}
.wh-is-trackgenix p{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: justify;
    margin: 50px;
}
.wh-is-trackgenix img{
    width: 400px;
    height: auto;
    margin-right: 0;
    margin-left: 35px;
    vertical-align: top;
}
.wh-is-trackgenix h2{
    margin: 10px 30px;
}
.choose-me div {
    display: inline-block;
    width: 450px;
    margin: 5px 70px;
    text-align: justify;
}
.choose-me{
    padding-top: 95px;
}
.choose-me div h3{
    margin:auto;
    text-align: left;
    padding-left: 95px;
}
.choose-me div img{
    display: inline-block;
    width: 92.84px;
    height: 92.84px;
    margin-left: 0;
    margin-right: 5px;
    vertical-align: top;
}
.choose-me div p{
    display: inline-block;
    width: 340px;
    height: 92.84px;
    margin-right: 0;
}
.about-us{
    padding-top: 100px;
    padding-bottom: 40px;
}
.about-us div{
    display: inline-block;
    width: 1000px;
    margin: 17px auto;
}
.about-us-img1{
    display: inline-block;
    width: 354px;
    margin-right: 0;
    margin-left: 10px;
    vertical-align: middle;
}
.about-us-pg1{
    display: inline-block;
    width: 626px;
    height: 216px;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    vertical-align: middle;
}
.about-us-img2{
    display: inline-block;
    width: 354px;
    margin-left: 0;
    margin-right: 10px;
    vertical-align: middle;
}
.about-us-pg2{
    display: inline-block;
    width: 626px;
    height: 216px;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    margin-right: 0;
    vertical-align: middle;
}
.contact{
    text-align: center;
    padding-top: 73px;
}
form{
    display: inline-block;
    width: 260px;
    margin: 0px 80px 0px 0px;
    vertical-align: top;
    text-align: left;
    color: #373867;
    text-transform: capitalize;
}
input, select, textarea {
    width: 260px;
    height: 32px;
    border-radius: 4px;
    margin: 8px 0;
    border: 1px solid #373867;
    
}
input[type=submit] {
    width: 260px;
    background-color: #aace98;
    margin: 8px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
.contact form label{
      text-align: left;
      font-size: 14px;
      line-height: 16px;
  }
.contact address{
    display: inline-block;
    width: 590px;
    right: 0;
    vertical-align: top;
}
.contact-address-items{
    display: inline-block;
    width: 450px;
    height: 160px;
    margin: 0px 0px 14px 200px;
    text-align: justify;
}
.contact-address-items img{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 18px;
}
.contact-address-items p{
    display: inline-block;
    width: 326px;
    height: 200px;
    margin-right: 0;
}
.contact-footer{
    width: 100%;
    height: 250px;
    bottom: 0px;
}
.contact-footer-item{
    display: inline-block;
    width: 33%;
    margin: auto;
}
.contact-footer-item ol li{
    list-style-type: decimal;
    list-style-position: inside;
}
.contact-footer-item ol {
    display: inline-block;
    text-align: left;
}