body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif, arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #373867;
}
header{
    position: fixed;
    width: 100%;
    height: 9.5%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #373867;
}
aside{
    position: fixed;
    width: 252px;
    height: 80%;
    left: 0;
    top: 9.5%;
    background-color: #aace98;
}
aside ul{
    width: 240px;
    bottom: 50%;
    padding: 6px;
    
}
aside a{
    display: block;
    width: 225px;
    margin: 25px 0px;
    padding: 7px 2px;
    background-color: #ffffff;
    box-shadow: 0px 3px 0px #373867;
    color: #373867;
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
}
main{
    display: block;
    height: 600%;
    margin-top: 71px;
    margin-bottom: 86.8px;
    margin-right: 0;
    margin-left: 252px;
    background-color: red;
}
h1{
    padding: 20px;
    font-size: 40px;
    font-weight: 800 bold; 
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
footer{
    position: fixed;
    display: block;
    width: 100%;
    height: auto;
    top: 89%;
    bottom: 0;
    padding: 3px;
    background-color: #373867;
    list-style-type: none;
    color: #aace98;
    text-align: center;
}
footer ul li{
    display: inline-block;
    padding: 2px;
}
.header-logo{
    width: 64px;
    height: 64px;
    display: block;
    margin-top: 4px;
    margin-left: 50%;
}
.btn-sign-up{
    display: block;
    width: 65px;
    height: 35px;
    border-radius: 5px;
    margin-top: -49px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 93%;
    border: 2px solid #373867;
    background-color: #aace98;
    color: #373867;
}
.shortcuts{
    padding: 40px 15px 0px 10px;
    color: #373867;
    font-size: 30px;
    font-weight: 700 bold;
    text-align: left;
    text-decoration: underline;
}
.two{
    display: inline-block;
    margin-top: 73.33px;
    width: 400px;
    height: 400px;
}
.homepg{
    display: block;
    height: 684.5px;
    margin: auto;
    text-align: center;
    background-image: url(../assets/homepage-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.wh-is-trackgenix{
    width: 850px;
    height: 615.5px;
    margin-bottom: 0;
    background-color: blueviolet;
}
.choose-me{
    width: 850px;
    height: 684.5px;
    background-color: pink;
}
.about-us{
    width: 850px;
    height: 684.5px;
    background-color: lightskyblue;
}
.contact{
    width: 850px;
    height: 684.5px;
    background-color: darkolivegreen;
}