footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    padding: 2% 0%;
    bottom: 0;
    background-color: #373867;
    color: #aace98;
}
footer ul{
    display: flex;
    justify-content: space-around;
    width: 45%;
}