header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 5%;
    background-color: #373867;
    min-height: 72px;
}
.header-menu{
    width: 20px;
}
.header-logo{
    width: 60px;
}
.btn-sign-up{
    width: 65px;
    height: 35px;
    background-color: #aace98;
    border: 2px solid #373867;
    border-radius: 5px;    
}