main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
    padding-bottom: 105px;
}
input, select, textarea {
    width: 95%;
    height: 30px;
    margin: 6px 0;
    border: 1px solid rgb(55, 56, 103, 1);
    border-radius: 4px;
    color: rgb(55, 56, 103, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

}
textarea { 
    height: 100px;
}
input[type=submit] {
    width: 95%;
    margin: 8px 0px 26px 0px;
    background-color: #aace98;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.homepg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/homepage-background.png);
    background-size: cover;
    background-position: center;
    height: 83vh;
    border-top: none;
}
.wh-is-trackgenix, .choose-me, .about-us, .contact, .contact-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 60px #49a37b;
    text-align: center;
}
.subtitle {
    color: rgba(55, 56, 103, 0.7);
}
.home-pg-logo{
    max-width: 55%;
}
.wh-is-trackgenix {
    width: 90%;
    margin-top: 60px;
    border-top: none;
}
.article-what-is {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.article-what-is p {
    margin-bottom: 25px;
    text-align: center;
}
.subtitle {
    margin-bottom: 30px;
}
.wh-is-trackgenix img{
    max-width: 80%;
    margin: 15px;
}
.choose-me h2, .about-us h2 {
    margin: 30px 10px 0;
}
.choose-me-item-container, .contact-address-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 15% 5%;
    font-size: 18px;
    font-weight: 21px;
}
.choose-me-item-container p {
    text-align: justify;
}
.choose-me-item-container div h3{
    font-size: 22px;
    font-weight: 26px;
}
.choose-me div img, .contact div img{
    width: 23%;
    margin-right: 3%;
}
.about-us-container-1, .about-us-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0% 5%;
    text-align: left;
}
.about-us-container-2{
    flex-direction: column-reverse;
}
.about-us-container-1 p{
    text-align: left;
    margin-top: 60px;
}
.about-us-container-2 p{
    text-align: right;
    margin-top: 60px;
}
.about-us div img{
    width: 85%;
    margin: 10% 0;
}
.contact form{
    display: flex;
    flex-direction: column;
}
.contact form label {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-align: left;
}
.contact address{
    display: flex;
    flex-direction: column;
    border-bottom: solid 60px #49a37b;
}
.contact .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-address-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.contact-address-items p, .contact-address-items div {
    width: 80%;
}
.contact-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    text-align: justify;
}
.contact-footer-item{
    margin-bottom: 30%;
}
.contact-footer-item ol{
    list-style: inside decimal;
}
.contact-footer-item ol li a{
    text-decoration: none;
    color: #373867;
}
@media only screen and (min-width: 480px) {
    .homepg {
        width: 100%;
        padding-top: 35px;
    }
    .wh-is-trackgenix {
        flex-direction: row;
        width: 100%;
    }
    .article-what-is {
        width: 50%;
    }
    .wh-is-trackgenix img {
        width: 50%;
    }
    .about-us {
        border-bottom: solid 60px #49a37b;;
    }
    .flex-container {
        display: flex;
    }
    .about-us-container-1, .about-us-container-2{
        flex-direction: row;
    }
    .about-us div img{
        width: 50%;
    }
    .flex-container-2 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .col-1, .col-2 {
        width: 40%;
        marg
        
    }
    .contact address, .contact {
        border: none;
    }
    .contact-address-items {
        margin: 6% 0% 6% 18%;
    }
    .contact-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 80%;
        padding-top: 4%;
        margin-bottom: 2%;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
}
@media only screen and (min-width: 768px) {
    main {
        margin-left: 260px;
    }
}