main{
    display: flex;
    flex-direction: column;
    margin-top: 71px;
    padding-bottom: 105px;
}
input, select, textarea {
    width: 260px;
    height: 30px;
    margin: 6px 0;
    border: 1px solid #373867;
    border-radius: 4px;
}
textarea { 
    height: 100px;
}
input[type=submit] {
    width: 260px;
    margin: 8px 0px 26px 0px;
    background-color: #aace98;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.homepg, .wh-is-trackgenix, .choose-me, .about-us, .contact, .contact-address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 60px #49a37b;
}
.homepg{
    background-image: url(../assets/homepage-background.png);
    background-size: 100%;
    background-size: cover;
    background-position: center;
    height: 85vh;
    border-bottom: 0;
}
.home-pg-logo{
    width: 60%;
}
.wh-is-trackgenix img{
    width: 50%;
    margin: 15px;
}
.wh-is-trackgenix p {
    margin: 10px;
}
.choose-me-item-container, .contact-address-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 5%;
}
.choose-me-item-container p {
    text-align: justify;
}
.choose-me div img, .contact div img{
    width: 18%;
    margin-right: 3%;
}
.about-us div img{
    width: 85%;
    margin: 4% 0;
}
.about-us-container-1, .about-us-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0% 3%;
    text-align: left;
}
.about-us-container-2{
    flex-direction: column-reverse;
    text-align: right;
}
.contact{
    border-bottom: 0;
}
.contact form{
    display: flex;
    flex-direction: column;
}
.contact form label {
    line-height: 16px;
    text-align: left;
}
.contact address{
    border-bottom: solid 60px #49a37b;
}
.contact .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    text-align: justify;
}
.contact-footer-item{
    margin-bottom: 30%;
}
.contact-footer-item ol{
    list-style: inside decimal;
}
.contact-footer-item ol li a{
    text-decoration: none;
    color: #373867;
}
@media only screen and (min-width: 480px) {
    .wh-is-trackgenix, .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .about-us-container-1, .about-us-container-2{
        flex-direction: row;
        justify-items: center;
        justify-content: space-between;
    }
    .contact .flex-container {
        border-bottom: solid 60px #49a37b;
    }
    .contact address {
        border-bottom: 0;
    }
    .contact-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }
    .contact-footer-item ol {
        margin: 40% 4%;
    }
}
@media only screen and (min-width: 768px) {
    main {
        margin-left: 252px;
    }
}