aside {
    position: fixed;
    display: none;
    min-width: 260px;
    height: 90%;
    top: 72px;
    left: 0;
    background-color: #aace98;
}
aside ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 230px;
    flex-wrap: wrap;
    text-align: left;
}
aside ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 0%;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0px 3px 0px #373867;
}
aside a {
    margin-left: 10px;
    font-size: 17px;
    text-decoration: none;
    color: #373867;
}
.shortcuts {
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    text-decoration: underline;
}
@media only screen and (min-width: 480px) {
    aside {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    aside {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    h1 {
        font-size: 40px;
    }
}