body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #373867;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}
h1{
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 800;
    line-height: 47px; 
    color: #ffffff;
    text-transform: uppercase;
}
h2 {
    margin: 2%;
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
}
h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
}
@media only screen and (min-width: 480px) {
    .choose-me p {
        font-size: 10px
        line-height: 15px;
    }
    .choose-me h3 {
        font-size: 15px;
        line-height: 20px;
    }
}

/*< 480px -> MOBILE (1 columna)-no sidebar
entre 480px y 768px -> TABLET (2 columnas)-no sidebar

entre 768px y 1024px -> DESKTOP (3 columnas),
pueden mantener algunas cosas de TABLET 
(por ejemplo algunos tamaños de letra)
> 1024px -> DESKTOP (3 columnas)
*/



/*ancho-maximo: pixeles
min-width:480
mins-width:780
direction columna, wrap*/