body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #373867;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}
h1{
    margin-top: 3%;
    font-size: 30px;
    font-weight: 800; 
    color: #ffffff;
    text-transform: uppercase;
}
h2 {
    margin: 3% 0%;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 31px;
}
/*< 480px -> MOBILE (1 columna)-no sidebar
entre 480px y 768px -> TABLET (2 columnas)-no sidebar

entre 768px y 1024px -> DESKTOP (3 columnas),
pueden mantener algunas cosas de TABLET 
(por ejemplo algunos tamaños de letra)
> 1024px -> DESKTOP (3 columnas)
*/
@media only screen and (max-width: 768px) {
    aside {
      display: none;
    }
}
@media only screen and (min-width: 768px) {
    aside {
        display: none;
      }
    
}
@media only screen and (min-width: 1024px) {
    a
  }
  